# Gradle
.gradle/
build/
*/build/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Minecraft dev environment
run/
*/run/
.cache/

# OS
.DS_Store
Thumbs.db
